@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import './variables.css';

*, *::after, *::before {
  box-sizing: border-box;
  font-family: "Jost";
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 50px;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1;
  color: rgb(241, 241, 241);
  font-size: 2rem;
  background: linear-gradient(60deg,rgb(43, 30, 56) 0%, rgb(113, 24, 172) 100%);
}

h3 {
  margin: 0;
  font-size: 5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 10px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 10px;
  font-size: 2rem;
  color: rgb(241, 241, 241);
  cursor: pointer;
  transition: 0.5s ease;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.interface {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.work__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  gap: 30px;
}

.card__wrapper {
  position: relative;
  aspect-ratio: 1 / 1.2;
  width: 25vw;
  max-width: 250px;
}

.card {
  position: absolute;
  inset: 0;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
  transform: translateX(0px) translateY(0px);
  transform-origin: center;
  z-index: 3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0 0;
  opacity: 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.05);
}

.card_closed {
  background-size: cover;
  opacity: 1;
}

.card_open {
  opacity: 1;
  width: 200vw;
  height: calc(var(--height) * 2);
  border-radius: 0px;
  background-size: 0 0;
  z-index: 900;
}

.card_open > h3 {
  display: none;
}

.content__wrapper {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  overflow-y: auto;
  transition: opacity 1s ease-in-out;
  color: var(--content-color);
  padding: 50px;
}

.content {
  margin-top: 50px;
  width: 100%;
}

.content_visible {
  opacity: 1;
}

.counter__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.number {
  margin: 0;
  user-select: none;
}

.btn_content {
  position: relative;
  color: var(--content-color);
  z-index: 999;
  border: 2px solid var(--content-color);
  line-height: 1;
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
